<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


    <link href="../public/css/login.css" rel="stylesheet">
    <link href="../public/css/exemple.html">
    <title>Login page</title>
</head>
<body>

    <div class="myLogInMainDiv" >
        <form action="/loginCheck" method="post"><input type="hidden" name="_csrf" value="7e3e3799-5e15-4e89-99e0-e2a047da6c95">
            <label><b>Username</b></label>
            <input id="username" class="myInputField" type="text"  name="username" >

            <label><b>Password</b></label>
            <input  id="password" class="myInputField" type="password" name="password">

            <div class="myInputButtonDiv">
                    <input id="loginButton" class="myInputButton" type="submit" value="Log in">
            </div>
        </form>
        <form action="/goToRegister" method="post"><input type="hidden" name="_csrf" value="7e3e3799-5e15-4e89-99e0-e2a047da6c95">
            <div class="myInputButtonDiv">
                <input id="goToRegister" class="myInputButton" type="submit" value="Go to Register">
            </div>
        </form>
        <div class="myErrorLabe"><label id="errorLabel">Sa cresti mare</label></div>

        <div class="myContainer" style="background-color:#f1f1f1">
            <button id="cancelButton" class="myButton" type="button">Cancel</button>
            <div class="myForgotPassword">Forgot <a href="#">password?</a></div>
        </div>
    </div>
</body>
<script src="../public/scripts/login.js"></script>

</html>
